<ion-header>
  <ion-toolbar>
    <ion-title>Olvido su contraseña</ion-title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./././assets/icon/favicon.ico" type="image/x-icon">
  </ion-toolbar>
</ion-header>
<ion-app class="container">
  <ion-content>
    <br><br><br><br>
      <ion-grid fixed="true">
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <form #formulario="ngForm">
                <div class="m-100 h-100 pt-5 bg-light">
                  <ion-card-header>
                    <div hidden id="form">{{formulario.valid}}</div>
                      <div class="p-5">
                        <img src="./././assets/images/logo.png" width="250" class="rounded mx-auto d-block" alt="">
                      </div>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="col-12 border-bottom border-secondary p-5">
                      <div class="body">
                        <div class="form">
                        <input name="username" [(ngModel)]="usuario" type="text" required>
                          <label class="lbl-nombre"><span class="text-nomb">Usuario</span></label>
                        </div>   
                      </div>
                      <div class="d-flex justify-content-center">
                        <button #button (click)="validarForm()" [disabled]="formulario.invalid" expand="block" type="submit" class="shadow-lg border btn btn-warning p-2 mt-4 mt-3 col-5"><span class="text-center text-white fw-bold">RESTABLECER</span></button>
                      </div>
                    </div>
                    <div class="p-5 mb-5">
                      <span class="text-center d-block">¿Ya tienes una cuenta?:</span>
                      <a routerLink="/signin"><span class="d-block justify-content-center text-center text-decoration-underline">Inicia Sesion</span></a>
                    </div>
                  </ion-card-content>
                </div>
              </form>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
</ion-app>




