<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Asignaturas</ion-title>
    <ion-button slot="end" (click)="dataToPage('home')" [routerLink]="['/home']" id="button-home"
      size="medium"><ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let subject of Subjects">
    <ion-item *ngIf="subject.teachersId === data.id">
      <ion-label>
        <h1>{{subject.name}}</h1>
        <h2>{{subject.code}}</h2>
        <h3>{{subject.teachersName}}</h3>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear (click)="dataToQR(subject.id)" [routerLink]="['/qr/', subject.id]">
          <ion-icon name="qr-code-outline" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="dataToEdit(subject.id)" [routerLink]="['/subupdate/', subject.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteSubject(subject.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>